@charset "UTF-8";
/* CSS Document */

body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
.left {
	position: absolute;
	top: 70%;
	left: 13%;
	transform: translate(50%,-50%);
}
.ball {
	width: 70px;
	border-top: 35px solid #6599FF;
	border-bottom: 35px solid #C947F5;
	border-radius: 70%;
	animation: bounce 1s infinite linear;
}
.shadow {
position: absolute;
top: 1400px;
left: 0;
width: 70px;
height: 5px;
background: #262626;
border-radius: 70%;
opacity: .4;
animation: shadow 1s infinite linear;
}

@keyframes bounce { 
0% {transform: translateY(0) rotate(0deg);
}
30% {transform: translateY(-200px)rotate(180deg);
}
100% {transform: translateY(0)rotate(360deg);
}
}

@keyframes shadow {
0% {transform: scale(1);
opacity: .6;
}
	
50% {transform: scale(.4);
opacity: .2;}
	
100% {transform: scale(1);
opacity: .6;}
}
 @media screen and (max-width: 900px) {
	 body {
		 height: 600px;
	 }
.ball {
	width: 0px;
	border-top: 0;
	border-bottom: 0;
	border-radius: 0%;
	
}
.shadow {
position: absolute;
top: 0;
left: 0;
width: 0px;
height: 0px;

}
}
